# Ensure desired languages are prioritized
*.py linguist-language=Python
*.java linguist-language=Java
*.go linguist-language=Go
*.rs linguist-language=Rust

# Mark unrelated languages as vendored
*.js linguist-vendored
*.jsx linguist-vendored
*.ts linguist-vendored
*.tsx linguist-vendored
*.php linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
*.json linguist-vendored

# Mark directories to ignore
node_modules/* linguist-vendored
dist/* linguist-vendored

coverage/* linguist-vendored


build/* linguist-vendored

.cache/* linguist-vendored
