html {
    background: linear-gradient(45deg, darkblue, #187CFF);
}

body {
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    justify-content: flex-start;
    padding-left: 3%;
    background: linear-gradient(45deg, darkblue, #187CFF) no-repeat;
    background-size: cover;
}


header {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: -10px;
    left: 0;
    background-color: transparent;
    margin-left: 27px;
    
}

.main-content {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-right: 5%;
}

#logo {
    width: auto;
    text-align: left;
    padding: 0;
}

#logo img {
    width: 180px;
    height: auto;
    margin: 0;
}

.typing-effect {
    font-size: 41px;
    color: white;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 149px;
    margin-left: -16px;
    height: 230px;
    overflow: hidden;
}

#cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sub-text {
    font-size: 29px;
    margin-left: -14px;
    color: white;
    margin-top: -99px;
    font-weight: 400;
}

.sub-text.specific-line {
    font-size: 17px;
    width: 94%;
    margin-left: -14px;
    margin-right: auto;
    margin-top: 22px;
}

.main-content>p {
    color: white;
    margin-bottom: 10px;
}

.email-access {
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    position: relative;
}

#search-input {
    flex: none;
    width: 310px;
    padding: 12px 15px;
    font-size: 16px;
    border: 2px solid #187CFF;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    transition: border-color 0.3s;
}

#search-input::placeholder {
    color: #aaa;
}

#search-input:focus {
    border-color: darkblue;
}

#access-button {
    padding: 12px 20px;
    font-size: 16px;
    border: 2px solid #187CFF;
    background-color: #187CFF;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    outline: none;
}

.search-section {
    position: relative;
    width: 88%;
    max-width: 600px;
    margin-top: 10px;
    align-self: flex-start;
}

#companySearch {
    width: 54%;
    padding: 12px 60px 12px 15px;
    font-size: 1.4em;
    margin-left: -14px;
    border: 2px solid #888;
    border-radius: 30px;
    outline: none;
    transition: border-color 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

#companySearch::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#companySearch:hover {
    border-color: white;
    background-color: transparent;
}


#voiceButton {
    position: absolute;
    right: 220px;
    top: 6px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s;
    z-index: 10;
}

#voiceButton.active {
    animation: futuristicAnimation 2s infinite;
}

#voiceButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#voiceButton img {
    width: 24px;
    height: 24px;
}

.voice-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: auto;
}

@keyframes futuristicAnimation {

    0%,
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 255, 255, 0.7);
    }

    20% {
        transform: scale(1.1);
        box-shadow: 0 0 0 5px rgba(0, 123, 255, 0.3);
    }

    50% {
        transform: scale(1.2);
        box-shadow: 0 0 0 30px rgba(0, 255, 255, 0.1);
    }

    75% {
        transform: scale(1.1);
        box-shadow: 0 0 0 30px rgba(0, 255, 255, 0.05);
    }
}

#voiceButton:active {
    animation-play-state: running;
}

#feedbackText {
    margin-left: 2px;
    margin-top: 2px;
    font-size: 0.4em;
    color: #FFF;
    transition: opacity 0.3s;
    visibility: hidden;
}

.voiceButton-listening #feedbackText {
    visibility: visible;
    opacity: 1;
}


.position-app-store {
    position: fixed;
    bottom: 50px;
    right: 710px;
    z-index: 200;
    display: flex;
}

.position-app-store .app-store-badge img {
    width: 130px;
    height: 30px;
    border-radius: 13px;
}

.position-app-store .google-play-badge img {
    width: 146px;
    height: 46px;
    border-radius: 13px;
}

.badges-container {
    position: fixed;
    bottom: 200px;
    right: 1106px;
    z-index: 200;
    display: flex;
    align-items: center;
    gap: 8px;
}



@media (max-width: 768px) {
    html {
        height: 100%;
        background: linear-gradient(180deg, #191970, #187CFF);
        margin: 0;
        padding: 0;
    }

    body {
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 3%;
        padding-bottom: 0px;
        background: none;
        overflow-x: hidden;
    }

    header {
        width: 100%;
        background-color: transparent;
        height: 50px; 
        padding-top: 14px;
        padding-left: 0px;
        padding-bottom: 5px;
        margin-left: 0px; 
        z-index: 0;
    }
    

    #text-logo {
        font-size: 20px;
    }

    .typing-effect {
        font-size: 30px;
        margin-top: 101px;
        position: sticky;
        z-index: 200;
        margin-left: -31px;
    }

    .sub-text {
        font-size: 22px;
        position: sticky;
        width: 82%;
        margin-top: -88px;
        margin-left: -29px;
    }

    .sub-text.specific-line {
        font-size: 17px;
        width: 94%;
        margin-left: -28px;
        margin-right: auto;
        margin-top: 11px;
    }

    #companySearch {
        width: 88%;
        padding: 12px 60px 12px 15px;
        margin-left: -28px;
        font-size: 1.4em;
        border: 2px solid #888;
        transition: border-color 0.3s;
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        border-color: rgba(255, 255, 255, 0.5);
    }

    #companySearch::placeholder {
        color: rgba(255, 255, 255, 0.9);
    }

    #companySearch:hover {
        border-color: white;
        background-color: transparent;
    }

    #voiceButton {
        position: absolute;
        right: -5px;
        top: 7px;
    }

    #feedbackText {
        right: 5px;
        top: 10%;
        transform: translateY(-50%);
    }

    .badges-container {
        position: absolute;
        right: 60px;
        background-color: transparent;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        top: 530px;
    }

    .badges-container a {
        margin-right: -13px;
    }

    .badges-container .app-store-badge img {
        width: 131px;
        height: 43px;
        border-radius: 2.5px;
    }

    .badges-container .google-play-badge img {
        height: 63px !important;
        width: 154px !important;
        border-radius: 2.5px;
    }
}

body[page="policy"],
body[page="terms"] {
    background: #187CFF;
    color: white;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 15px 15px 0;
    background-color: transparent;
    color: white;
    position: fixed;
    bottom: 4px;
    left: 0;
    width: calc(100% - 30px);
    box-sizing: border-box;
    transform: translateX(5%);
}

.footer-links,
.social-links {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-links a,
.social-links a {
    color: white;
    text-decoration: none;
    margin-right: 11px;
}

.footer-links span {
    margin-right: 10px;
}

.footer-links a:last-child,
.social-links a:last-child {
    margin-right: 0;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    nav {
        padding: 12px 12px 8px 0px;
        transform: translateX(1%);
        /* Less translation on smaller screens */
    }
}

.content {
    padding: 20px;
    max-width: 1000px;
    margin: 120px 0 20px;
    font-size: 12px;
    line-height: 1.2;
}

:root {
    --primary-color: #FFF; /* or any other color value */
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 0 -20px;
    color: #FFF;
}

p, ul, ol, li {
    margin-bottom: 35px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

a:hover {
    text-decoration: underline;
}



/* Desktop Specific Styles for Privacy Policy and Terms Pages */

/* Header styles for policy and terms pages */
body[page="policy"] header,
body[page="terms"] header {
    background-color: #187CFF;
    padding-top: 27px;
    padding-left: 58px;
    height: 23px;
}

/* Content styling for policy page */
body[page="policy"] .content {
    margin-top: 50px;
    /* Space above the content */
    padding-bottom: 54px;
    /* Padding below the content */
}

/* Content styling for terms page */
body[page="terms"] .content {
    margin-top: 50px;
    padding-bottom: 50px;
}

body[page="policy"] nav,
body[page="terms"] nav {
    bottom: 0;
    left: -7px;
    right: 0;
    background-color: #187CFF;
    z-index: 100;
    color: #FFFFFF;
    padding: 14px;
}


nav .copyright-text {
    font-size: 13px;
    color: white;
}


/* Mobile Specific Styles */

@media (max-width: 768px) {

    html {
        background: none;
    }

    /* Solid background color for policy and terms pages */
    body[page="policy"],
    body[page="terms"] {
        background: #187CFF;
    }

    /* Gradient background for the home page */
    body[page="home"] {
        background: linear-gradient(45deg, darkblue, #187CFF);
    }

    /* Content styling for mobile versions of policy and terms pages */
    body[page="policy"] .content,
    body[page="terms"] .content {
        margin: 53px 27px 70px 1px;
        /* Margins around the content */
        max-width: 120%;
        /* Allowing content to be wider than the screen */
        padding: 10px 0 68px 4px;
        /* Padding inside content area */
    }

    body[page="policy"] nav,
    body[page="terms"] nav {
        position: fixed;
        bottom: -5px;
        left: 4px;
        /* Smaller left offset on mobile */
        right: 0;
        background-color: #187CFF;
        z-index: 100;
        color: #FFFFFF;

        padding: 16px;
    }

    /* Ensuring text in navigation links is white */
    body[page="policy"] nav a,
    body[page="terms"] nav a {
        color: #FFFFFF;
    }

    /* Adjusted navigation position for the home page */
    body[page="home"] nav {
        left: 16px;
        /* More offset on mobile for home page */
    }

    /* Header styles adjustments for mobile */
    body[page="policy"] header,
    body[page="terms"] header {
        position: absolute;
        background-color: transparent;
        top: 1px;
        margin-left: -62px;
    }

    /* Padding adjustments for logo and navigation links */
    body[page="policy"] header #logo,
    body[page="terms"] header #logo,
    body[page="policy"] header nav a,
    body[page="terms"] header nav a {
        padding-bottom: 3px;
    }
}


nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    color: white;
    position: fixed;
    bottom: 1px;
    left: 0;
    width: 100%;
}

.footer-links,
.social-links {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left: 0;
}

.footer-links a,
.social-links a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    white-space: nowrap;
}

.footer-links span {
    margin-right: 10px;
    white-space: nowrap;
}

@media (max-width: 768px) {
    nav {
        padding: 1px 1px;
        width: 100%;
        box-sizing: border-box;
        align-items: flex-start;
        margin-left: -1px; /* Shift the entire nav to the left */
    }

    .footer-links, .social-links {
        flex-direction: row;
        justify-content: flex-start;
        padding: 1px 0;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    .footer-links a, .footer-links span, .social-links a {
        font-size: 10px;
        margin: 0px 1px 3px 3px; 
        white-space: nowrap;
    }

    .footer-links a:last-child, .social-links a:last-child {
        margin-right: 0;
    }

    .social-links {
        margin-bottom: 14px;
    }
}